.portfolio {
    background: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);
    padding: 100px 0 150px;

    &__title {
        font-family: 'NEXT ART', sans-serif;
        font-size: toRem(48);
        font-weight: 400;
        color: $light-color;
        text-align: center;
        margin-bottom: 50px;
    }

    &-wrap {
        max-width: 970px;
        width: 100%;
        margin: 0 auto;
        background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
        box-shadow: 0px 4px 15px rgba(27, 27, 27, 0.28);
        border-radius: 29px;
        padding: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 81px;
        position: relative;

        @include a (tablet-xl) {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        max-width: 296px;
        width: 100%;

        &-title {
            font-size: toRem(24);
            color: $light-color;
            font-weight: 300;
        }

        &-descr {
            font-size: toRem(18);
            line-height: 21px;
            color: $light-color;
            text-align: center;
        }

        &-btn {
            font-size: toRem(18);
            color: #E2A100;
            padding-right: 20px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                background: url(/src/assets/images/portfolio-btn-arrow.png);
                width: 14px;
                height: 10px;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    &__btns {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100;

        @include a (laptop) {
            position: relative;
            justify-content: center;
            gap: 10px;
        }
    }

    &__btn {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.carousel-wrap {
    position: relative;
}